<template name="portfolio">
  <section id="portfolio" class="portfolio">
      <div class="row">
          <div class="col-md-12">
              <div class="header-content">
                  <h2>AAIC Portfolio</h2>
                  <h3>Innovative companies with an <span class="blue-word">Asian angle</span>
                  </h3>
              </div>
          </div>

          <div class="col-md-12 mg-bt-80">
              <div class="row portfolioContainer  text-center">

                  <!-- <div class="col-md-12 portfolio-item websites">
                    <div class="slide-filter"></div>
                      <a class="popup" href="http://www.insightrobotics.com/">
                          <span class="project-hover">
                              <span>Insight Robotics
                              </span>
                          </span>
                          <img src="small/insight3.jpg">
                      </a>
                  </div> -->

                  <div class="col-md-4 col-xs-6 portfolio-item photo">
                    <div class="slide-filter"></div>
                      <a class="popup" href="http://www.insightrobotics.com/">
                          <span class="project-hover">
                              <span>Insight Robotics
                              </span>
                          </span>
                          <img src="small/insight4.jpeg">
                      </a>
                  </div>
                  <div class="col-md-4 col-xs-6 portfolio-item illustrations">
                    <div class="slide-filter"></div>
                      <a class="popup" href="http://www.draftserv.com/">
                          <span class="project-hover">
                              <span>DraftServ
                              </span>
                          </span>
                          <img src="small/draft.jpg">
                      </a>
                  </div>
                  <div class="col-md-4 col-xs-6 portfolio-item illustrations">
                    <div class="slide-filter"></div>
                      <a class="popup" href="http://www.aidyia.com/">
                          <span class="project-hover">
                              <span>Aidyia
                              </span>
                          </span>
                          <img src="small/aidyia.jpg">
                      </a>
                  </div>
                  <div class="col-md-4 col-xs-6 portfolio-item websites">
                    <div class="slide-filter"></div>
                      <a class="popup" href="http://www.snaptee.co">
                          <span class="project-hover">
                              <span>Snaptee
                              </span>
                          </span>
                          <img src="small/snaptee.jpg" alt="portfolio-thumb-1">
                      </a>
                  </div>
                  <div class="col-md-4 col-xs-6 portfolio-item websites">
                    <div class="slide-filter"></div>
                      <a class="popup" href="poss/aaicmongolia.pdf">
                          <span class="project-hover">
                              <span>AAIC Mongolia
                              </span>
                          </span>
                          <img src="small/mongolia.jpg">
                      </a>
                  </div>
                  <div class="col-md-4 col-xs-6 portfolio-item websites">
                    <div class="slide-filter"></div>
                      <a class="popup">
                          <span class="project-hover">
                              <span>Playto
                              </span>
                          </span>
                          <img src="small/playto.jpg">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
</template>
