<template name="about">
  <section id="about" class="about background-pic">
      <div class="row">
          <div class="col-md-12 mg-bt-40">
              <div class="header-content">
                <h2>About Us</h2>
                <h3><span class="blue-word">AAIC</span> Ventures
                </h3>
              </div>

              <p class="AAICinfo"><span class="blue-word">A</span>sia.
                We focus on companies with management, technology and production in Asia addressing a global market.
                We believe we are in the midst of a technological revolution and Asia, where we have our connections and experience, will play a pivotal role.
              </p>
              <p class="AAICinfo">
                 <span class="blue-word">A</span>dvisory.
                 At the heart of our involvement in start-ups is the drive to support their development, innovation process and growth with both advice and hands on involvement.
              </p>
              <p class="AAICinfo">
                <span class="blue-word">I</span>nnovation.
                Developing good ideas into a marketable product and process requires incredible innovatition and creativity.
                We like to challenge the status quo and take an active role in finding alternative ways for our companies to achieve their goals.
              </p>
              <p class="AAICinfoEnd">
                <span class="blue-word">C</span>apital.
                We combine our work with our portfolio companies with serious capital commitments, often participate in follow-on rounds and help in all aspects of further capital raising efforts.
              </p>
          </div>
      </div>
    </section>
</template>
