<template name="investphil">
  <section id="investphil" class="about background-pic2">
      <div class="row">
          <div class="col-md-12 mg-bt-40">
              <div class="header-content">
                <h2>Investment Philosophy</h2>
              </div>
              <p class="AAICinfo">
                AAIC Ventures brings a professional and active approach to investing in early stage companies.
                We invest our own capital and as a result do not have defined time horizons or undisclosed agendas from Limited Partners.
              </p>
              <p class="AAICinfo">
                We do not see ourselves as capital allocators but prefer to concentrate our efforts on meaningful stakes and on supporting the companies' development, innovation process, growth and capital raising with both advice and hands on involvement.
              </p>
              <p class="AAICinfoEnd2">
                We enjoy being directly involved in helping build businesses and think of ourselves as investor-preneures and partners of the founders.
              </p>
          </div>
      </div>
    </section>
</template>
