<template name="people">
  <section id="people" class="about">
    <div class="row">
    <div class="col-lg-12">
      <div class="header-content">
        <h2>Our community</h2>
        <!-- <h3><span class="blue-word">A</span>sia <span class="blue-word">A</span>dvisory <span class="blue-word">I</span>nnovation <span class="blue-word">C</span>apital Ventures
        </h3> -->
      </div>
        <div class="row mg-bt-40">
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/eman.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Emanuel Breiter</h3>
                        <span>Founder and CEO, AAIC</span>
                        <p>Emanuel founded AAIC.
                           He is actively involved in all portfolio companies, adding value where he can.
                           Emanuel has also been engaged in investments in frontier markets for over 20 years.
                           Prior to AAIC, Emanuel worked in fund management, brokerage and management positions in Schroders, Merrill Lynch, Citigroup and BNP Paribas.</p>
                        <!-- <div class="social">
                            <a href="https://www.linkedin.com/pub/emanuel-breiter/53/9b6/88" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/charlie.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Charlie Morris</h3>
                        <span>Principal, AAIC</span>
                        <p>
                          Charlie is the fund manager of AAIC Mongolia and provides technical assistance to the AAIC portfolio of companies.
                          After graduating from Oxford University, Charlie worked as a management consultant in London with a focus on TMT.
                          He then held a brief career as a full-stack web developer before joining AAIC in 2014.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/ken.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Ken Cooper</h3>
                        <span>CEO, Aidyia</span>
                        <p>
                          Ken began his financial markets career in Hong Kong in 1995 and has spent much of his career since living and working in the Asian derivatives market.
                          He has held senior management positions in Lehman Brothers, BNP Paribas and Macquarie Bank and was head of North American Equities for Cargill Investor Services located in New York.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/ben.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Ben Goertzel</h3>
                        <span>Chief Science Officer, Aidyia</span>
                        <p>
                          Ben is a globally-acknowledged leader in the AI field, and a founder of the AI subfield known as Artificial General Intelligence (AGI).
                          He has led numerous AGI-related research projects, been a mathematics and computer science professor at several universities, published fifteen books and authored more than 100 scientific papers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/cassio.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Cassio Pennachin</h3>
                        <span>CTO, Aidyia</span>
                        <p>
                          Cassio has worked for more than fifteen years on the development and commercialization of artificial general intelligence software.
                          Much of Cassio’s focus has been on the application of AGI to computational finance and prediction systems.
                          In the mid-2000s, he led software development teams for Clarium Capital in San Francisco.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/jose.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Jose Hevia</h3>
                        <span>Founder, DraftServ</span>
                        <p>Jose is the founder of DraftServ and a veteran of the restaurant industry.
                           After opening his own restaurant seven years ago, Jose realised that everyone always wants to be the bartender as no one wants to wait for their beer.
                           Jose therefore came up with the concept of DraftServ and allowing people to pour their own drinks.
                        </p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/jeff.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Jeff Spence</h3>
                        <span>CEO, DraftServ</span>
                        <p>Jeff is the CEO of DraftServ and a seasoned technology executive.
                           Jeff has many years of experience in the telecommunications industry, having been the CEO of Citynet Wireless and then Xiocom Wireless.
                           Before joining DraftServ, Jeff was the president of Innovolt, an electronics company with patented sensor technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/galen.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Galen Kaufman</h3>
                        <span>Founder, Fizzy Fruit</span>
                        <p>Galen is the founder of Fizzy Fruit, a veterinarian and passionate scientist.
                           After inventing the process of fruit carbonation by accident, Galen replicated the process and patented it bringing Fizzy Fruit into existence.
                           Before Fizzy Fruit, Galen was a professor of neuroanatomy and physiology at UTMB Health.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/adam.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Adam Lindemann</h3>
                        <span>Co-founder, Fizzy Fruit</span>
                        <p>Adam is the managing partner at Mind Fund.
                           Over the past twenty years he has built a career as an international entrepreneur, venture investor and advisor.
                           Adam is on the board of numerous companies and was instrumental in bringing Fizzy Fruit into existence after reading about the Fizzy Fruit patent.
                        </p>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/kevin.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Kevin Chan</h3>
                        <span>Founder and CEO, Insight Robotics</span>
                        <p>
                            Kevin is a serial entrepreneur, having started his first business around 10 years ago.
                            Kevin developed a dinning discount membership for local restaurants in 2003 and later entered the entertainment business.
                            In 2009, he founded Insight Robotics aiming to develop robots that could help make the best use of the Earth's limited resources.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/rex.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Rex Sham</h3>
                        <span>Co-Founder, Insight Robotics</span>
                        <p>
                           Rex is an inventor and expert in robotics research and development.
                           After graduating from college, he founded Hong Kong Robotics Company, wih its pioneer product the winning international awards.
                           In 2009 Rex co-founded Insight Robotics, leading the engineering team working on robotics and automation technologies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/wailun.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Wai Lun</h3>
                        <span>CEO, Snaptee</span>
                        <p>
                          Wai-Lun is a software engineer turned technology entrepreneur.
                          He has founded 2 internet businesses, both focused on ecommerce.
                          He bootstrapped his first business, Gobuya.com, from inception to US$5MM revenue.
                          Wai-Lun founded Snaptee with the hope of empowering people to design their own clothing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/gary.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Gary Lee</h3>
                        <span>Co-Founder, Snaptee</span>
                        <p>
                          Gary is a serial ecommerce entrepreneur and is currently the head of product design and development at Snaptee.
                          Before co-founding Snaptee, Gary co-founded Gobuya with Wai-Lun.
                          At Gobuya he was in charge of product development.
                          Gary likes to challenge conventional wisdom and create innovative, unique products.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/vernee.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Vernée Ho</h3>
                        <span>Founder and CEO, Playto</span>
                        <p>Vernee is the CEO of Playto.
                           She has spent the last 20 years working in Asia across a broad range of companies.
                           After spending 5 years as the marketing director of Pepsico in Asia Pacific, Vernee became the managing partner of Cogentia Group, providing companies with an outsourcing option for business development in Asia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/ann.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Ann Bridgewater</h3>
                        <span>Co-founder, Playto</span>
                        <p>
                          Ann is the co-founder of Playto and has over ten years of experience as an occupational therapist for children.
                          She has a deep understanding of child psychology and is currently the Head of Motor Therapy at The Child Development Centre.
                          Ann has been working on Playto since April 2013 and is the director of clinical studies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="teams">
                    <div class="pict">
                        <img src="team/chris.jpg" alt="Team 1">
                        <div class="pict overlay"></div>
                    </div>
                    <div class="desc">
                        <h3>Chris Toepker</h3>
                        <span>Co-founder, Playto</span>
                        <p>Chris is a co-foudner of Playto.
                           He is an accomplished entrepreneur with a track record of designing and launching new categories and products, increasing profit, and managing geographically-dispersed teams.
                           As well as being an executive director of Playto, Chris is VP of Development at Safe Communications (Kuboo.com).
                        </p>
                    </div>
                </div>
            </div>
          </div>
      </div>

    </div>

      <div class="row">
          <div class="col-md-12">
              <ul class="social-icon">
                  <!-- <li><a href="javascript:;"><i class="fa fa-twitter"></i></a>
                  </li> -->
                  <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                  </li>
              </ul>
          </div>
      </div>
    </section>

</template>
