<template name="home">
  <section id="home" class="home">
      <div id="home-slide">
          <ul class="slides-container text-center">
              <li>
                  <div class="slide-text">
                      <h2>Insight robotics</h2>
                      <span>Preventing natural disasters</span>
                      <br/>
                  </div>
                  <div class="slide-filter"></div>
                  <div style="background-image:url(poss/insight8.jpeg);" class="bg-parallax parallaxize"></div>
              </li>
              <li>
                  <div class="slide-text">
                      <h2>DraftServ</h2>
                      <span>Advancing the pour</span>
                      <br/>
                  </div>
                  <div class="slide-filter"></div>
                  <div style="background-image: url(poss/DraftServ.jpg);" class="bg-parallax parallaxize"></div>
              </li>
              <li>
                  <div class="slide-text">
                      <h2>Aidiya</h2>
                      <span>AI market prediction</span>
                      <br/>
                  </div>
                  <div class="slide-filter"></div>
                  <div style="background-image: url(poss/aidyia3.jpg);" class="bg-parallax parallaxize"></div>
              </li>
              <li>
                  <div class="slide-text">
                      <h2>Snaptee</h2>
                      <span>T-shirts reimagined</span>
                      <br/>
                  </div>
                  <div class="slide-filter"></div>
                  <div style="background-image: url(poss/Snaptee.jpg);" class="bg-parallax parallaxize"></div>
              </li>
              <li>
                  <div class="slide-text">
                      <h2>AAIC Mongolia</h2>
                      <span>Investing in a frontier market</span>
                      <br/>
                  </div>
                  <div class="slide-filter"></div>
                  <div style="background-image: url(poss/insight.jpg);" class="bg-parallax parallaxize"></div>
              </li>
              <li>
                  <div class="slide-text">
                      <h2>Playto</h2>
                      <span>Improving concentration through gaming</span>
                      <br/>
                  </div>
                  <div class="slide-filter"></div>
                  <div style="background-image: url(poss/playto3.jpg);" class="bg-parallax parallaxize"></div>
              </li>
              <li>
                  <div class="slide-text">
                      <h2>Fizzy Fruit</h2>
                      <span>Carbonated fruit that 'pops'</span>
                      <br/>
                  </div>
                  <div class="slide-filter"></div>
                  <div style="background-image: url(poss/fizzy2.jpg);" class="bg-parallax parallaxize"></div>
              </li>
          </ul>
          <nav class="slides-navigation slidez">
              <a href="javascript:;" class="next">
                  <i class="fa fa-angle-right"></i>
              </a>
              <a href="javascript:;" class="prev">
                  <i class="fa fa-angle-left"></i>
              </a>
          </nav>
      </div>
  </section>
</template>
