<template name="newsposts">
  <section id="blog-front" class="blog-front odd">
    <div class="row">
        <div class="col-md-12 mg-bt-80">
            <div class="header-content news-title">
                <h2>AAIC <span class="blue-word">community</span> news</h2>
            </div>
        </div>
    </div>  
    <div class="row">
      {{#each posts}}
        {{> postItem}}
      {{/each}}
    </div>
  </section>
</template>


<template name="postItem">
  <article class="col-md-4 col-sm-6">
      <figure class="blog-thumb resize">
          <img src="{{image}}" alt="blog-thumb">
      </figure>
      <div class="post-area">
          <a href="blog-post.html">
              <h4>{{title}}</h4>
          </a>
          <span class="post-date">{{date}}</span>
          <p class="post-content">{{paragraph}}</p>
          <a class="btn btn-light small popup" href="{{link}}">Read More</a>
      </div>
  </article>
</template>


<!-- ADD NEW TEMPLATE HERE FOR MORE STORIES ON NEWS PAGE  -->
<!-- WILL NEED TO ADD JS TO ONLY SHOW ON NEWS URL -->
