<template name="about">
  <section id="about" class="about odd">
      <div class="row">
          <div class="col-md-12 mg-bt-40">
              <div class="header-content">
                <h2>About Us</h2>
                <h3><span class="blue-word">A</span>sia <span class="blue-word">A</span>dvisory <span class="blue-word">I</span>nnovation <span class="blue-word">C</span>apital
                </h3>
              </div>
              <!-- <p class="AAICinfo">AAIC stands for Asia Advisory Innovation Capital. </p> -->
              <p class="AAICinfo"><span class="blue-word">Asia</span>, as our experience and connections are right here in Asia.
                 We believe that an innovation revolution is taking place in the Far East and want to be actively involved in the businesses that make it happen.
              </p>
              <p class="AAICinfo">
                 <span class="blue-word">Advisory</span>, as we see one of our key roles as being the support of young companies in Asia.
                 At the heart of our involvement in start-ups is the drive to help and advise our portfolio companies and the wider community.
              </p>
              <p class="AAICinfo">
                <span class="blue-word">Innovation</span>, as the basis of all disruptive companies is an innovative idea.
                Crafting good ideas into a marketable product requires incredible innovatition and creativity.
                We take an active role in brainstorming alternative ways for our companies to achieve their goals and we like to challenge the status quo.
              </p>
              <p class="AAICinfoEnd">
                <span class="blue-word">Capital</span>, as to build a great company capital is needed.
                We combine our work with our portfolio companies with serious capital commitments and often particiapate in follow-on rounds.
                As part of this commitment, we actively work with our portfolio companies on their capital raising activities.
                Owing to the amount of time that we commit to each company we are only interested in taking significant stakes in the business.
                Our smallest stake in a portfolio company is around 10%.
              </p>

                  <h3>The AAIC investment <span class="blue-word">philosophy</span>
                  </h3>
              <p>At AAIC, we invest in early stage companies.
                 We enjoy being directly involved in helping build businesses and think of ourselves as <span class="blue-word">investor-preneures</span>.
                 This means that we offer more than just financing.
                 We help steer and shape companies as they embark on a unique entrepreneurial path.
                 We generally look to finance companies at the seed stage up until pre-series A.
                 We like to lead and often participate in follow on funding rounds.
              </p>
              <p>
                 What are we looking for?  <strong>Diamonds in the rough.</strong>  By this we mean:
              </p>
          </div>

      <div class="col-md-12">
          <div class="row">
              <div class="col-md-4 mg-bt-40">
                  <div class="row services-item">
                      <div class="col-xs-12 col-sm-3">
                          <div class="services-icon">
                              <i class="glyphicon glyphicon-qrcode"></i>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-9">
                          <div class="services-desc">
                              <h4>Great products</h4>
                              <p>Ones that excite us and have clear market potential</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 mg-bt-40">
                  <div class="row services-item">
                      <div class="col-xs-12 col-sm-3">
                          <div class="services-icon">
                              <i class="fa fa-lightbulb-o"></i>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-9">
                          <div class="services-desc">
                              <h4>Great ideas</h4>
                              <p>Ones that we believe we can help turn into profitable business</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 mg-bt-40">
                  <div class="row services-item">
                      <div class="col-xs-12 col-sm-3">
                          <div class="services-icon">
                              <i class="glyphicon glyphicon-user"></i>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-9">
                          <div class="services-desc">
                              <h4>Great people</h4>
                              <p>We like passionate founders with an eye for execution</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      {{> people}}

    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="social-icon">
                <li><a href="javascript:;"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    </section>
</template>
