<template name="people">
  <div class="col-lg-12">
      <div class="row mg-bt-40">
          <h3 class="skills-title">Our community</h3>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/eman.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Emanuel Breiter</h3>
                      <span>Founder and CEO, AAIC</span>
                      <p>Emanuel founded AAIC.
                         He is actively involved in all portfolio companies, adding value where he can.
                         Emanuel has also been engaged in investments in frontier markets for over 20 years.
                         Prior to AAIC, Emanuel worked in fund management, brokerage and management positions in Schroders, Merrill Lynch, Citigroup and BNP Paribas.</p>
                      <!-- <div class="social">
                          <a href="https://www.linkedin.com/pub/emanuel-breiter/53/9b6/88" target="_blank"><i class="fa fa-linkedin"></i></a>
                      </div> -->
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/kevin.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Kevin Chan</h3>
                      <span>Founder and CEO, Insight Robotics</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                         Vestibulum ac diam sit amet quam.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/rex.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Rex Sham</h3>
                      <span>Co-Founder, Insight Robotics</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                         Vestibulum ac diam sit amet quam </p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/jose.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Jose Hevia</h3>
                      <span>Founder and CEO, DraftServ</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/ken.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Ken Cooper</h3>
                      <span>CEO, Aidyia</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/cassio.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Cassio Pennachin</h3>
                      <span>CTO, Aidyia</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/ben.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Ben Goertzel</h3>
                      <span>Chief Science Officer, Aidyia</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/wailun.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Wai Lun</h3>
                      <span>CEO, Snaptee</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/gary.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Gary Lee</h3>
                      <span>Co-Founder, Snaptee</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/charlie.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Charlie Morris</h3>
                      <span>Fund Manager, AAIC Mongolia</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/vernee.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Vernée Ho</h3>
                      <span>Founder and CEO, Playto</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/faceless.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Ann Bridgewater</h3>
                      <span>Co-founder, Playto</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/chris.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Chris Toepker</h3>
                      <span>Co-founder, Playto</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/galen.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Galen Kaufman</h3>
                      <span>Founder, Fizzy Fruit</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="teams">
                  <div class="pict">
                      <img src="team/adam.jpg" alt="Team 1">
                      <div class="pict overlay"></div>
                  </div>
                  <div class="desc">
                      <h3>Adam Lindemann</h3>
                      <span>Co-founder, Fizzy Fruit</span>
                      <p>Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit.
                         Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
                  </div>
              </div>
          </div>
        </div>
    </div>
</template>
