<template name="jobposts">

  <section id="about" class="about odd">
    <div class="row">
        <div class="col-md-12 mg-bt-80">
            <div class="header-content news-title">
                <h2>Jobs in our portfolio</h2>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="row mg-bt-40">

                <div class="col-md-6">
                    <div class="teams">
                        <div class="job-boarder">
                          <div class="jobsboard">
                            <h3>Unity 3D developer</h3>
                            <span>Insight Robotics</span>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="shortcodes.html#collapseOne" class="collapsed">
                                              job details
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-body">
                                        <p>
                                          Insight Robotics is looking for a junior and senior Unity developer to join the company on a full time basis.
                                          These developers will help to create the next generation UI for our drones and other detection robots to report information in to.
                                        </p>
                                        <p>
                                          Insight Robotics was founded in 2009 and came out of the University of Hong Kong.
                                          Its fundamental philosophy is that robotics technologies can help reduce the frequency and extent of natural disasters.
                                          The core product at present is protection against forest fires, where it uses high spec camera equipment and aerial drones to detect fires at a very early stage.
                                        </p>
                                        <p>
                                          We are looking for a Unity developer to assist in creating the client-facing platform and user interface.
                                          The ideal candidate would have a good eye for design and experience in building varied terrains in Unity.
                                          We would ideally like candidates to be based in Hong Kong, although we are open to remote working options.
                                        </p>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            <div class="pull-right">
                              <a class="btn btn-light small" href="mailto:apply@aaicgroup.com?Subject=Unity3D%20application">Apply</a>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
  </section>

</template>
